<?xml version='1.0' encoding='utf-8'?>
<widget id="xyz.pilot.danielin" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="OverrideUserAgent" value="Mozilla/5.0 Google" />
    <name>gympilot</name>
    <description>gympilot app</description>
    <author email="danielgrapas@gmail.com" href="www.danielin.xyz">
        Danielin
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <access origin="*" />
    <allow-navigation href="*"/>
    <icon src="www/img/logo.png" />
</widget>
